<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="http://getbootstrap.com/favicon.ico"> -->

    <title>runSmartr</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">

    <!-- Styles for Mapbox.js map -->
    <link href="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	 <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	 <![endif]-->
</head>

<body>

    <div class="site-wrapper" id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">

	    <!-- Form to input run parameters -->
	    <form action="" method="post" name="input">
		<ul class="sidebar-nav">
		    <li class = "sidebar-brand">
			<a href="http://runsmartr.com/">runSmartr</a>
		    </li>

		    <li>{{ form.address(size=30) }}</li><br>
		    <li>{{ form.distance(size=4) }}</li>
		    <li>
			<ul class="inputunits">
			    {% for subfield in form.units %}
				<li>{{ subfield }} {{ subfield.label }}</li>
			    {% endfor %}
			</ul>
		    </li>
		    <p class="lead">
			<input class="btn btn-lg btn-default" type="submit" value="find another!">
		    </p>
		</ul>
	    </form>
	    <!-- /form to input run parameters -->

	</div>
	<!-- /#sidebar-wrapper -->

	<div class="site-wrapper-inner">

            <div class="masthead clearfix">
		<div class="inner">
		    <nav>
			<ul id="result" class="input">
			    <li>Finding a route</li>
			    <li>
				<div class="spinner">
				    <div class="bounce1"></div>
				    <div class="bounce2"></div>
				    <div class="bounce3"></div>
				</div>
			    </li>
			</ul>
			<ul class="nav masthead-nav">
			    <li><a href="http://www.slideshare.net/AndyAlmandHunter/runsmartr-better-running-routes-through-data">Slides</a></li>
			</ul>
		    </nav>
		</div>
            </div>

            <div class="cover-container">
		<div id="map"></div>
            </div>
	</div>
    </div>

    <!-- Bootstrap core JavaScript
	    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Mapbox.js -->
    <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js"></script>
    <!-- Geocomplete -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="../static/js/jquery.geocomplete.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>

    <script type="text/javascript">
     
     function sizeMap(){
	 $("#map").height($("body").height());
     }

     function addMap(lat, lon, zoom){
	 L.mapbox.accessToken = 'pk.eyJ1IjoiYW5keWFsbWFuZGh1bnRlciIsImEiOiJLOUh5aS1vIn0.zFS519161_PwwjqlyMWezA';
	 var map = L.mapbox.map('map', 'andyalmandhunter.l52ai08p', {
             zoomControl: false
	 }).setView([lat, lon], zoom);
	 L.control.zoom().setPosition('bottomleft').addTo(map);
	 L.marker([{{ center_latlon }}]).addTo(map)
	 return map
     }

     function addRouteToMap(data, map){
	 var route = $.parseJSON(data)
	     $("#result").html(
		 '<li>Here&#8217;s a ' + route.actual_distance + ' route.</li>'
	     );
	 L.polyline(route.route,{
	     color: '#047',
	     weight: 8,
	     opacity: 1.0
	 }).addTo(map);
     }

     $(document).ready(function(){
	 sizeMap();
	 $(window).resize(sizeMap);
	 var map = addMap({{ center_latlon }}, 14);
         $("#address").geocomplete();
	 $.post('/route',{
	     address: '{{ address }}',
	     distance: {{ distance }},
	     units: '{{ units }}'
	 }, function(data) {
	     addRouteToMap(data, map);
	 });

     });

    </script>
    
</body>
</html>
